/* header*/
header{
background-color: #E5E5E5;
text-align: center;
}

    
h1, h2{
    color: #005677;
    background-color: #C4C4C4 ;
    padding: 5px 20px;
}
/*main */
.container{
    margin: 50px auto;
    max-width: 70;
}
span{
    font-weight: bold;
}
.datos-personales span{
    font-style: italic;
}
/*footer */
footer{
    background-color: #005677;
    color: white;
    text-align: center;

}
footer h3{
    display: inline-block;
   
}
.icono-social{
    margin-left: 10px;
}